<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.skip">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Skip">
        <activity
            android:name=".view.activity.admin.CreateAdsActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.admin.CreateAdminActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.admin.CreateProviderActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.admin.CreateServiceActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.admin.CreateCategoryActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.auth.OtpVerificationActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.auth.PhoneAuthActivity"
            android:exported="true"
            android:theme="@style/Theme.Skip.NoActionBar" />
        <activity
            android:name=".view.activity.admin.AdminActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.copmany.CompanyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skip.NoActionBar" />
        <activity
            android:name=".view.activity.user.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Skip.NoActionBar" />
        <activity
            android:name=".view.activity.ActivityIntro"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.activity.auth.SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.activity.auth.RegisterActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.activity.UserBlocked"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar" />
        <activity
            android:name=".view.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.NoActionBar">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>